<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.examples.dao.UserInfoMapper" >
  <resultMap id="BaseResultMap" type="com.examples.po.UserInfo" >
    <id column="SID" property="sid" jdbcType="VARCHAR" />
    <result column="USER_ID" property="userId" jdbcType="VARCHAR" />
    <result column="USER_PASSWORD" property="userPassword" jdbcType="VARCHAR" />
    <result column="REAL_NAME" property="realName" jdbcType="VARCHAR" />
    <result column="MOBILE" property="mobile" jdbcType="VARCHAR" />
    <result column="EMAIL" property="email" jdbcType="VARCHAR" />
    <result column="QQ" property="qq" jdbcType="VARCHAR" />
    <result column="COM_ID" property="comId" jdbcType="VARCHAR" />
    <result column="USER_TYPE" property="userType" jdbcType="VARCHAR" />
    <result column="ORG_ID" property="orgId" jdbcType="DECIMAL" />
    <result column="RESOURCE_IDS" property="resourceIds" jdbcType="VARCHAR" />
    <result column="WORK_ID" property="workId" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
    <result column="REG_TIME" property="regTime" jdbcType="TIMESTAMP" />
    <result column="CREATE_USER" property="createUser" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="LAST_UPDATE_USER" property="lastUpdateUser" jdbcType="VARCHAR" />
    <result column="LAST_UPDATE_TIME" property="lastUpdateTime" jdbcType="TIMESTAMP" />
    <result column="TELEPHONE" property="telephone" jdbcType="VARCHAR" />
    <result column="IS_PT_WORK" property="isPtWork" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    SID, USER_ID, USER_PASSWORD, REAL_NAME, MOBILE, EMAIL, QQ, COM_ID, USER_TYPE, ORG_ID, 
    RESOURCE_IDS, WORK_ID, STATUS, REG_TIME, CREATE_USER, CREATE_TIME, LAST_UPDATE_USER, 
    LAST_UPDATE_TIME,TELEPHONE,IS_PT_WORK
  </sql>
  <select id="findOneByUserId" resultMap="BaseResultMap" parameterType="java.lang.String">
  	SELECT * FROM T_US_USER_INFO WHERE USER_ID=#{userId}
  </select>
</mapper>